@keyframes bgAni {
    0% { background-position: -500px -650px; }
    25% { background-position: 300px -500px; }
    50% { background-position: -500px -650px; }
    75% { background-position: 300px -500px; }
    100% { background-position: -500px -650px; }
}
body {     background:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIj48ZGVmcz48cGF0dGVybiBpZD0icGF0dGVybiIgd2lkdGg9IjQwIiBoZWlnaHQ9IjQwIiB2aWV3Qm94PSIwIDAgNDAsNDAiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSgxMjApICI+PHJlY3QgaWQ9InBhdHRlcm4tYmFja2dyb3VuZCIgd2lkdGg9IjQwMCUiIGhlaWdodD0iNDAwJSIgZmlsbD0icmdiYSg0MSwgNDAsIDY1LDEpIj48L3JlY3Q+IDxwYXRoIGZpbGw9InJnYmEoMjQ3LCAyNTAsIDI1MiwxKSIgZD0iTS0xIDIwIGgyIHYyIGgtMiB6TTM5IDIwIGgyIHYyIGgtMiB6Ij48L3BhdGg+PHBhdGggZmlsbD0icmdiYSgxMTQsIDEzNywgMjE4LDEpIiBkPSJNMTkuNSAyMCBoMSB2MiBoLTEgek01OS41IDIwIGgxIHYyIGgtMSB6Ij48L3BhdGg+PC9wYXR0ZXJuPiAgPC9kZWZzPiA8cmVjdCBmaWxsPSJ1cmwoI3BhdHRlcm4pIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIj48L3JlY3Q+PC9zdmc+") !important;
}

.bOIdGn, .jkiDvQ, .iYhzbi {
    background-color: #242338 !important;
    border-radius: 15px !important;
}

.bOIdGn:hover, .jkiDvQ:hover, .iYhzbi:hover {
    border-color: #7289da !important;
}

.jkiDvQ .status-bar, .bvinzM .status-bar, .iYhzbi .status-bar {
    height: 100px !important;
    right: -.25vw !important;
}

.crorIW {
    color: #fbfbfb !important;
}

.jkiDvQ .icon, .bvinzM .icon, .iYhzbi .icon {
    background-color: #7289da !important;
}

.svg-inline--fa {
    color: #fbfbfb !important;
    fill: #fbfbfb !important;
}

.hrfGkL {
    border-color: #fbfbfb !important;
}

.hrfGkL:hover {
    border-color: #7289da !important;
    background-color: #7289da !important;
}

.SYRHp, .kcfEOd {
    background: rgba(35,35,56) !important;
    box-shadow: none !important;
}

.bGpXNw > a:active, .bGpXNw > .navigation-link:active, .bGpXNw > a:hover, .bGpXNw > .navigation-link:hover, .bGpXNw > a.active, .bGpXNw > .navigation-link.active {
    box-shadow: #7289da 0px -2px inset !important;
}

.bGpXNw > a:active, .bGpXNw > .navigation-link:active, .bGpXNw > a:hover, .bGpXNw > .navigation-link:hover {
    background: #7289da !important;
}

.cpYqlD {
    color:#fbfbfb !important;
}

.fmiOqm > input[type="checkbox"]:checked + label {
    background-color: #7289da !important;
    border-color: #7289da !important;
}

    ::-webkit-scrollbar-thumb:hover {
        -webkit-box-shadow:
        inset 0 0 0 1px #7289da,
        inset 0 0 0 4px #7289da !important;
    }

    ::-webkit-scrollbar-thumb {
        border-right-width: 4px !important;
        border-left-width: 4px !important;
        -webkit-border-radius: 9px 4px !important;
        -webkit-box-shadow: inset 0 0 0 1px #7289da, inset 0 0 0 4px #7289da !important;
    }

    ::-webkit-scrollbar {
    background: rgba(35,35,56) !important;
    }

#app > div.App___StyledDiv-sc-2l91w7-0.iXxZei > div.Fade__Container-sc-1p0gm8n-0.dDpGFl > section > div.ContentContainer-x3r2dw-0.PageContentBlock___StyledContentContainer-kbxq2g-0.bPlKGr.fade-appear-done.fade-enter-done > div.Pagination___StyledDiv-sc-7j9cqz-1.iRrbQg > button.Button__ButtonStyle-sc-1qu1gou-0.llDrhd.Pagination__Block-sc-7j9cqz-0.jHlYSX {
    background-color: #7289da !important;
    border-color: #7289da !important;
}

.jgntzO, .jBMBqQ, .hNcPHL {
    color: #fbfbfb !important;
}

.fmiOqm > label {
    background-color: #7f7cbd !important;
    border-color: #7f7cbd !important;
}

.kcfEOd > div > a:active, .kcfEOd > div > div:active, .kcfEOd > div > a.active, .kcfEOd > div > div.active {
    box-shadow: #7289da 0px -2px inset !important;
}

.bhOZIw, .ExfQf {
    border-radius: 15px !important;
    box-shadow: none !important;
}

.ebdqXL {
    background-color: #1e1d2d !important;
    border-radius: 15px !important;
}

.ExfQf {
    background-color: #1e1d2d !important;
    transform: scale(0.95) !important;
    margin-bottom: .25vw !important;
}

.fkRqrX, .bQvkGo, .iExSBF {
    background: none !important;
}

.xterm .xterm-screen, .ksLvCJ  {
     background-color: #1e1d2d !important;
     border-radius: 15px !important;
}

.xterm .xterm-viewport {
    background-color: #1e1d2d !important;
}

.hxZmAe {
    transform: scale(0.975) !important;
    margin-top: .25vw !important;
    border-radius: 15px !important;
    background-color: #1e1d2d !important;
}

.gxNFpl {
    background-color: #1e1d2d !important;
    border-radius: 15px !important;
    transform: scale(0.975) !important;
    margin-top: .25vw !important;
}

.SYRHp {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}

#app > div.w-full.fixed {
    background-color: rgba(35,35,56) !important;
}

.xterm .xterm-viewport::-webkit-scrollbar {
    background-color: #1e1d2d !important;
}

.geIRWP, .gCfvqS, .iCYEOj, .hWnhqG, .dcCSlo, .lijDuN, .ePNCRF, .jmSSWo, .cOjkdJ {
    color: #fbfbfb !important;
}

.bhOZIw {
    background: none !important;
}

.dSNCQp, .gvMaEu {
    background-color: #7289da !important;
    color: #fbfbfb !important;
}

.hTZfPi {
    background-color: #292841 !important;
}

.fdtlOj:not([type="checkbox"]):not([type="radio"]), .dpQpIr:not([type="checkbox"]):not([type="radio"]), .hmQOIN, .efoFdL, .gtPBni {
    background-color: #292841 !important;
    border-color: #292841 !important;
}

.kckPpe, .cRBtKu {
    border-color: #7289da !important;
}

.OMRKG, .inBdJL, .foCUXL, .cRBtKu, .fdtlOj:not([type="checkbox"]):not([type="radio"]) {
    background-color: #242338 !important;
    border-radius: 15px;
}

.hyZyer {
    background-color: #242338 !important;
}

.hHnzhj:hover {
    background-color: #1e1d2d !important;
}

.hFBFoh {
    border-radius: 15px !important;
    background-color: #242338 !important;
    overflow-y: scroll !important;
}

.kCoBf {
    background-color: #242338 !important;
    border-radius: 15px !important;
}

.jqyDUi {
	background-color: #242338 !important;
	border-radius: 15px !important;
}

.fdtlOj:not([type="checkbox"]):not([type="radio"]), .dpQpIr:not([type="checkbox"]):not([type="radio"]), .hmQOIN, .efoFdL, .gtPBni {
	background-color: #1e1d2d !important;
    border-color: #413f66 !important;
    border-radius: 15px !important;
}

.gMhNLt {
	background: #242338 !important;
}

.lgSBFT {
	color: #fbfbfb !important;
	text-align: center !important;
}

.hiPGGU, .loFaKd, .gRJnOl {
	color: #fbfbfb !important;	
}

.jvcGlg:hover {
  	background-color: #1e1d2d !important;
    border-color: #413f66 !important;
}

.ljiB, .kqlQPRtK, .dycngG, .ljiBtK, .ffxc, .kqlQPR, .eRZhMR, .eJcVht, .hqCRQN  {
    background-color: #242338 !important;
	border-radius: 15px !important;
	border-color: #413f66 !important;
}

.cSPkzn, .jjdPwo {
	border-color: #413f66 !important;
}

.dycngG {
	background: #242338 !important;
}

.jvcGlg:hover {
  	background-color: #1e1d2d !important;
    border-color: #413f66 !important;
}

.hFBFoh {
	border-radius: 15px !important;
}


.fHBYYt:hover {
   	background-color: #242338 !important;
   	border-color: #413f66 !important;
}

.cm-s-ayu-mirage.CodeMirror, .cm-s-ayu-mirage .CodeMirror-linenumber, .CodeMirror-foldgutter, .cm-s-ayu-mirage .CodeMirror-gutters {
	background: #1e1d2d !important;
	color: #fbfbfb !important;
}
